.search-bar {
    padding: 8px;
    width: 200px;
    border: 2px solid yellow;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    outline: none;
  }
  
  .search-bar:focus {
    background: #fffacd;
  }
  